<h1>EDIT an oufit by id!</h1>

<%= form_for @outfit do |f| %>
  <label> <%= @outfit.name %> </label> <br>
  <%= f.text_field :name, value: "", placeholder: "Enter new Name" %><br>
  <label> <%= @outfit.tag %> </label><br>
  <%= f.text_field :tag, value: "", placeholder: "Enter new Tag" %><br>
  <%= f.submit "Update Outfit" %>
<% end %>
