<%= render "shared/header" %>
<div class="container">
 <h2>Outfits</h2>
 <p class="advice">See what outfits you&#x27;
 ve already created and plan your outfits for the week </p>
  <div class="row">
      <% @outfits.each do |outfit| %>
        <div class="col s12 m4">
          <div class="center-align">
            <span class="outfit-name">
                <%= link_to outfit.name, controller: "outfits", action: "show", id: outfit.id %>
            </span>
          </div>

          <div class="center-align">
            <span class="outfit-tag">
              # <%= outfit.tag %>
            </span>
          </div>

          <%= link_to(@outfit, controller: "outfits", action: "show", id: outfit.id) do %>
            <% outfit.items.each do |item| %>
              <div class="center-align">
                <%= image_tag item.image.url(:small) %>
              </div>
          <% end %>
        <% end %>

        <div class="center-align">
          <%= link_to "Edit", controller: "outfits", action: "edit", id: outfit.id %>
        </div>
      </div>
    <% end %>
   </div>
</div> 