<%= render "shared/header" %>
<h2>All Outfits</h2>
<% @outfits.each do |outfit| %>
<p>
  <strong>id:</strong> <%= outfit.id %><br>
  <strong>Name:</strong> <%= outfit.name %><br>
  <strong>Tag:</strong> <%= outfit.tag %><br>
  <%= link_to "Edit", controller: "outfits", action: "edit", id: outfit.id %><br>


  <% outfit.items.each do |item| %>
    <%= image_tag item.image.url(:small) %><br>
  <% end %>

</p>
<% end %>
