<%= render "shared/header" %>
<%= render "shared/closet"%>

    <div class="col s12 m6">
      <h2>New Outfit</h2>

      <%= form_for @outfit do |f| %>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.text_field :tag, placeholder: "Tag" %>
        <%= text_field_tag "shirt_id", nil, placeholder: "SHIRT ID" %>
        <%= text_field_tag "pants_id", nil, placeholder: "PANTS ID" %>
        <%= text_field_tag "shoes_id", nil, placeholder: "SHOES ID" %>
        <%= f.submit "Create Outfit" %>
      <% end %>

      <% @items.each do |item| %>

        <%= item.id %>
        <%= image_tag item.image.url(:small) %>

      <% end %>
    </div>
<%= render "shared/builder"%>
