<%= render "shared/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col s12 m5 sidebar">
    <%= render "shared/closet"%>
    </div>
      <div class="col s12 m6">
      <div class="" style="padding-top: 1%;">
        <h5>Create an outfit</h5></div>
        <%= form_for @outfit do |f| %>
          <%= f.text_field :name, placeholder: "Name", :required => true %>
          <%= f.text_field :tag, placeholder: "Tag" %>
          <%= hidden_field_tag "shirt_id", nil, placeholder: "SHIRT ID" %>
          <%= hidden_field_tag "pants_id", nil, placeholder: "PANTS ID" %>
          <%= hidden_field_tag "shoes_id", nil, placeholder: "SHOES ID" %>
          <%= f.submit "Create Outfit" %>
        <% end %>
      </div>
      <%= render "shared/builder"%>
  </div>
</div>

<!-- TODO: I would add flash messaging to let people know if they successfully did something or when there are errors.. I.e. when I put in pant.. nothing is added, or when I put in tags with commas.. it doesn't work, etc. -->
