<%= render "shared/header" %>
<h2>New Outfit</h2>
<%= form_for @outfit do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :tag, placeholder: "Tag" %>
  <%= f.submit "Create Outfit" %>
<% end %>
