<%= render "shared/header" %>
<div class="container">
 <div class="row">
    <h4 class="center-align"><%= @outfit.name %></h4>
          <div class="col s12 m12 l12 center-align">
    <% @outfit.items.each do |item| %>
          <%= image_tag item.image.url(:medium) %><br>
        <% end %><br>
        <strong><i class="fa fa-hashtag">Tag:</strong> <%= @outfit.tag %><br>
        <%= link_to "Edit", controller: "outfits", action: "edit", id: @outfit.id %><br>
        </div>
    </div> 
</div>