<h1>Assoc#new</h1>
<p>Find me in app/views/assoc/new.html.erb</p>

<%= form_for @outfit do |f| %>
  <%= f.text_field :outfit_id, value: @outfit.id %>
  <%= f.text_field :item_id, value:"" %>
  <!-- <%= f.text_field :item_id, value: @outfit.items.map{ |item| item.id } %> -->
  <%= f.submit "Add item to outfit" %>
<% end %>
