<nav class="nav header">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Outfitter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">My Outfits</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <a href="#" data-activities="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!-- main container -->
<div class="container-fluid">
    <div class="row main">
        <div class="col s12 m4 sidebar">
            <!--                 <div class="title valign-wrapper">
                <span>my items</span>
            </div> -->
            <!--                 <div class="add-item-btn right-align">
                <a class="red btn add-item"><i class="material-icons">add_to_photos</i></a>
            </div> -->
            <a href="#"><i class="material-icons"></i><span>add new items</span></a>
            <span class="btn center-align">+</span>
            <div class="row">
                <div class="clothing-type-title">
                    <p>shirts</p>
                </div>
                <div class="divider"></div>
                <div class="horizontal">
                    <div class="clothing-type">
                      <% @items.each do |item| %>
                      <div class="col s12 m4">
                          <div class="item">
                            <%= image_tag item.image.url(:medium) %><br>
                            <%= link_to "Edit", controller: "items", action: "edit", id: item.id %>
                          </div>
                      </div>
                      <% end %>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clothing-type-title">
                    <p>pants</p>
                </div>
                <div class="divider"></div>
                <div class="horizontal">
                    <div class="clothing-type">
                      <% @items.each do |item| %>
                      <div class="col s12 m4">
                          <div class="item">
                            <%= image_tag item.image.url(:medium) %><br>
                            <%= link_to "Edit", controller: "items", action: "edit", id: item.id %>
                          </div>
                      </div>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clothing-type-title">
                    <p>shoes</p>
                </div>
                <div class="divider"></div>
                <div class="horizontal">
                    <div class="clothing-type">
                      <% @items.each do |item| %>
                      <div class="col s12 m4">
                          <div class="item">
                            <%= image_tag item.image.url(:medium) %><br>
                            <%= link_to "Edit", controller: "items", action: "edit", id: item.id %>
                          </div>
                      </div>
                      <% end %>
                    </div>
                </div>

                <div class="right-align">
                    <a href="#" class="btn-floating fab btn-xs waves-effect waves-light right-align amber"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m7 builder">
            <div class="row build center-align">
                <h5 class="">plan your outfit</h5>
                <p>here is where I describe what to do</p>
                <div class="col s12 m6">
                    <div class="canvas img">
                        <img src="images/shirt.png">
                    </div>
                    <div class="canvas img">
                        <img src="images/shoes.png">
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="canvas img">
                        <img src="images/jeans.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% @items.each do |item| %>
  <p>
    <strong>id:</strong> <%= item.id %><br>
    <strong>Name:</strong> <%= item.name %><br>
    <strong>Brand:</strong> <%= item.brand %><br>
    <strong>Category:</strong> <%= item.category %><br>
    <%= image_tag item.image.url(:medium) %><br>
    <%= link_to "Edit", controller: "items", action: "edit", id: item.id %>
  </p>

<% end %>
