<%= render "shared/header" %>
<h2>Item <%= @item.name %> </h2>
<p>
  <strong>Name:</strong> <%= @item.name %>
  <strong>Brand:</strong> <%= @item.brand %><br>
  <strong>Category:</strong> <%= @item.category %>
  <%= image_tag @item.image.url(:large) %>

</p>
